.section {
    clear: both;
    padding: 0px;
    margin: 0px;
    background: #808080;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.col {
    display: block;
    float: left;
    text-align: center;
    font-size: 1.2em;
    background: #DCDCDC;
    padding: 0 0 1px 0; /*1px is important*/
    margin: 0;
}
/*
            .col:first-child {
                margin-left: 0;
            }
            */
body {
    padding: 0 2em 0 2em;
    /*size/lineinterval*/
    font: 100%/1.4 'Helvetica Neue', arial, helvetica, helve, sans-serif;
}

h1 {
    font-size: 1.8em;
    margin-left: 1em;
    margin-right: 1em;
    /*  padding: 0 0 .5em 0;*/
}

h2 {
    font-size: 1.5em;
}

.header {
    padding: 1em 0;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.CaptImgTxt {
    overflow: auto;
    /*  background: #DCDCDC;*/
    background: #DCDCDC;
    margin: 1em 1em 0em 1em;
}

.CaptImgLeft {
    float: left;
    width: 50%;
    height: auto;
    margin-right: 1em;
}

.CaptImgRight {
    float: Right;
    width: 50%;
    height: auto;
    margin-left: 1em;
}

.responsive {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #ff0066;
    border: none;
    color: white;
    padding: 15px 72px;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 3px #000000;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
}

.spanLR {
    width: calc(100%*2/12);
    /* width: 16.6666%*/
}

.spanC {
    width: calc(100%*8/12);
    /*  width: 66.6666%*/
}

/*
        @media only screen and (min-width: 1200px) {
            body {transform-origin: 0 0;
                zoom: 1.5;
                zoom: 150%;
                -webkit-transform: scale(1.5);
                -moz-transform: scale(1.5);
                transform: scale(1.5);
            }
        }*/

@media only screen and (max-width: 1050px) {
    .spanC {
        width: calc(100%*10/12);
        /*  width: 83.3333%; /*podobral*/
    }

    .spanLR {
        width: calc(100%*1/12);
        /* width: 8.3333%; /*podobral*/
    }
}

@media only screen and (max-width: 800px) {
    .spanC {
        width: 100%;
    }

    .spanLR {
        width: 0%;
    }
}

@media only screen and (max-width: 650px) {
    body {
        padding: 0em;
    }

    .RespImgTxtWrap50Left, .RespImgTxtWrap50Right {
        float: none;
        max-width: 100%;
        height: auto;
        margin-bottom: 1em;
        /*centrilise image*/
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .CaptImgLeft, .CaptImgRight {
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 1em;
        /*centrilise image*/
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #day {
        display: none;
    }
}

.spr6, .spr1, .sprk7 {
    max-width: 100%;
    background-size: 100%;
    background-image: url('1-k7-6-0px.jpg');
}

.spr6 {
    background-position: 0 0%;
    background-size: 100%;
}

.spr1 {
    background-position: 0 41.651706%;
    background-size: 138.888889%;
}

.sprk7 {
    background-position: 0 100%;
    background-size: 140%;
}

.spr2, .sprk6, .spr4 {
    max-width: 100%;
    background-size: 100%;
    background-image: url('4-2-k6-0px.jpg');
}

.spr2 {
    background-position: 0 0%;
    background-size: 100%;
}

.sprk6 {
    background-position: 0 49.434389%;
    background-size: 100%;
}

.spr4 {
    background-position: 0 100%;
    background-size: 103.703704%;
}

.sprb-a, .sprk8, .sprk9 {
    max-width: 100%;
    background-size: 100%;
    background-image: url('ba-k8-k9.jpg');
}

.sprb-a {
    background-position: 0 0%;
    background-size: 100%;
}

.sprk8 {
    background-position: 0 75.21059%;
    background-size: 148.857143%;
}

.sprk9 {
    background-position: 0 100%;
    background-size: 190.145985%;
}

.sprk10, .spr5, .sprk4, .sprk2, .sprk1 {
    max-width: 100%;
    background-size: 100%;
    background-image: url('k10-5-k1k2k4.jpg');
}

.sprk10 {
    background-position: 0 0%;
    background-size: 100%;
}

.spr5 {
    background-position: 0 21.219931%;
    background-size: 103.333333%;
}

.sprk4 {
    background-position: 0 55.584192%;
    background-size: 155%;
}

.sprk2 {
    background-position: 0 80.107116%;
    background-size: 158.974359%;
}

.sprk1 {
    background-position: 0 100%;
    background-size: 159.383033%;
}

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */

.png2, .png1 {
    max-width: 100%;
    background-size: 100%;
    background-image: url('png1png2-0px.png');
}

.png2 {
    background-position: 0 0%;
    background-size: 100%;
}

.png1 {
    background-position: 0 100%;
    background-size: 171.232877%;
}
